@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Inter", sans-serif;
}

body.dialog-open {
  overflow: hidden;
}

h1, h2 {
  letter-spacing: -0.03em;
}
