@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Inter", sans-serif;
  color: #e4e4e7;
}

dialog {
  color: #e4e4e7;
}

body.dialog-open {
  overflow: hidden;
}

h1, h2 {
  letter-spacing: -0.03em;
}

::selection {
  color: #333;
  background: rgba(252, 211, 77);
}

.finder-dialog {
  width: 85vw; 
  height: 85vh;
}

.share-dialog {
  min-width: 50vw;
}

.mat-icon {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}

.mat-icon.filled {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}

.loader {
  height: 2px;
  width: 250px;
  --c:no-repeat linear-gradient(#fcd34d 0 0);
  background: var(--c),var(--c),#333;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}
@keyframes l16 {
  0%   {background-position:-150% 0,-150% 0}
  66%  {background-position: 250% 0,-150% 0}
  100% {background-position: 250% 0, 250% 0}
}